.btn {
    display: inline-block;
    font-weight: 400;
    color: var(--color-primary);
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid var(--color-primary);
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 1.5rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    @media (prefers-reduced-motion: reduce) {
        transition: none !important;
    }
}
.btn:hover {
    color: white;
    background-color: var(--color-primary);
    border-color: var(--color-primary);
    text-decoration: none;
}
.btn-group {
    display: inline-flex;
    vertical-align: middle;
    > .btn {
        position: relative;
        flex: 1 1 auto;
        &:hover {
            z-index: 1;
        }
        &:not(:first-child) {
            margin-left: -1px;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
        &:not(:last-child) {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}
