{% if config.extra.server_side_katex and get_env(name="GITHUB_ACTIONS", default="false") == "true" %}
    <link rel="stylesheet" href="{{ get_url(path = 'katex.min.css') | safe }}">
{% else %}
    <link rel="preload" href="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.css" as="style" onload="this.rel='stylesheet';">
    <script defer src="https://cdn.jsdelivr.net/npm/katex/dist/katex.min.js"></script>
    <script>window.addEventListener("DOMContentLoaded",()=>{document.querySelectorAll('code').forEach(e=>{let t=e.innerText;if(t.startsWith('$$')&&t.endsWith('$$')){let z=e.parentNode;let h=katex.renderToString(t.slice(2,-2), {displayMode: true});let p=z.previousElementSibling;if(p&&p.tagName==='P'){p.insertAdjacentHTML('beforeend',h);let n=z.nextElementSibling;z.remove();if(n&&n.tagName==='P'){p.append(...n.childNodes);n.remove();}}else{z.outerHTML=h}}else if(t.startsWith('$')&&t.endsWith('$')){let s=document.createElement('span');katex.render(t.slice(1,-1),s);e.parentNode.replaceChild(s,e);}
});});</script>
{% endif %}